<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salones</title>
</head>
<body>
    <h1>Salones</h1>
    <ul>
        {% for x in salones %}
          <li><a href="details/{{x.id}}">{{ x.codigo }} - {{x.letra}}{{x.numero}} - Maestro: {{x.Maestro_id}}</a></li>
        {% endfor %}
      </ul>
</body>
</html>