<!DOCTYPE html>
<html>

    <body>

        <h1>{{ maestro.nombre_completo }}</h1>
        
        <p>Sueldo: {{ maestro.sueldo }}</p>

        <p>Back to <a href="/maestros">Maestros</a></p>

    </body>
</html>