<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maestros</title>
</head>
<body>
    <h1>Maestros</h1>
    <ul>
        {% for x in maestros %}
          <li><a href="details/{{x.id}}">{{ x.nombre_completo }}</a></li>
        {% endfor %}
      </ul>
</body>
</html>